.floating-sale{

position:fixed;

bottom:25px;

left:25px;

background:#E63946;

color:white;

padding:15px;

border-radius:50px;

font-weight:bold;

z-index:9999;

animation:bounce 2s infinite;

cursor:pointer;

box-shadow:0 10px 30px rgba(0,0,0,.25);

}

@keyframes bounce{

0%{transform:translateY(0)}

50%{transform:translateY(-8px)}

100%{transform:translateY(0)}

}